html,
body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.itens {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.itens > li {
  padding:10px;

}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: #4a6d6d;;
  color: #4a6d6d;
}

.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: #4a6d6d;
  color: white;
  list-style-type: none;
}
.header {
  background-color: #4a6d6d;;
  min-height: 150px;
}
.content {
  background-color: white;
  min-height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: row;

}
.content-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.form {
  padding-top: 10px;
  padding-left: 10px;
  position:absolute;
  left:19px;
  margin-right:5px;
  flex-direction: column;
}

.footer {
  background-color: #4a6d6d;
  min-height: 50px;
  color: white;
  text-align: center;
}
